<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :publishDate %>
    <%= form.text_field :publishDate, id: :book_publishDate %>
  </div>

  <div class="field">
    <%= form.label :numberOfPages %>
    <%= form.number_field :numberOfPages, id: :book_numberOfPages %>
  </div>

  <div class="field">
    <%= form.label :byStatement %>
    <%= form.text_field :byStatement, id: :book_byStatement %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
