<p id="notice"><%= notice %></p>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Cover</th>
      <th>Title</th>
      <th>Authors</th>
      <th>Numberofpages</th>
      <th>Publish Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr data-link="<%= book_path(book) %>">
        <td><%= image_tag book.cover.smallLink %></td>
        <td><%= book.title %></td>
        <td><%= book.authors.map { |a| a.name } * ", " %></td>
        <td><%= book.numberOfPages %></td>
        <td><%= book.publishDate %></td>
        <td><%= link_to 'Show', book %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>