<p id="notice"><%= notice %></p>

<h1><%= @book.title %></h1>

<p>
  <strong>Cover:</strong>
  <div>
    <%= image_tag @book.cover.largeLink %>
  </div>
</p>

<p>
  <strong>Authors:</strong>
  <ul>
      <% @book.authors.each do |author| %>
        <li><%= link_to author.name, author_path(author)%></li>
      <% end %>
  </ul>
</p>

<p>
  <strong>Identifiers</strong>
  <ul>
    <% @book.identifiers.each do |ids| %>
      <li><strong><%= ids.idType %>:</strong> <%= ids.number %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Number of pages:</strong>
  <%= @book.numberOfPages %>
</p>

<p>
  <strong>Publish Date</strong>
  <%= @book.publishDate %>
</p>

<%= link_to 'Back', books_path %>
